{% set navigation_bar = [
    ('/deputies', 'deputies', 'Les députés'),
    ('/pqs/all', 'pqs', 'PQ'),
    ('/pnq', 'pnq', 'PNQ'),
    ('/hansard', 'hansard', 'Débats'),
    ('/committees', 'committees', 'Comités'),
    ('/bills', 'bills', 'Lois'),
] -%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/aef1209c87.js"></script>
        <script src="{{ url_for('static', filename='Chart.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <style>
        .tooltip {
          font-size: 18px!important;
        }
        </style>

        <script>
          $(document).ready(function(){
            //post to save_event.php and save to database
            $.post("/constituencies/JSON", {

            }).done (function (data) {
              constituencies = data.Constituencies;
              constituencies.forEach(function(constituency){
                  $('#constituencies').append('<option value="'+constituency.id+'">'+constituency.id + ' - ' + constituency.constituency+'</option>');
                });
            });

            $('#constituencies').change(function(){
              $('#change_option').submit();
            });

          });
        </script>
        <style>

        select[class*="span"] {
            margin-bottom: 0;
        }

        body {
          margin-top: 70px;
        }
        </style>
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        <script>
        function signInCallback(authResult) {
          if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized

            $('#signinButton').attr('style', 'display: none');

            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                  $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/shop";
                 }, 4000);
                  

              } else if (authResult['error']) {

            console.log('There was an error: ' + authResult['error']);
          } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                 }
              }
              
          }); } }
        </script>

	</head>
	
	<body>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white;" href="/">nosdeputés.mu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif %}>
              <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
        {% endfor %}
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <form id="myform" action="{{ url_for('search')}}" class="navbar-form navbar-left" method="post">
          <div class="form-group">
            <input name="search_term" type="text" class="form-control" placeholder="Search">
          </div>
          {% if not logged_in %}
          <input type="button" class="btn btn-success btn-xs" value="Login" onclick="location.href = '{{ url_for('login')}}';">
          {% else %}
          <input type="button" class="btn btn-default btn-xs" value="Logout" onclick="location.href = '{{ url_for('logout')}}';">
          {% endif %}
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="row">
          <div class="col-lg-12">
          {% block content %}

          {% endblock %}
          </div>
    </div>
</div>

	</body>
</html>