{% extends "blank.html" %}
{% set active_page = "pqs" %}
{% block content %}
<script>
  $(document).ready(function(){
    $('#sessions').change(function(){
      $('#change_option').submit();
    });

  });
</script>

	<div class="row">
		<div class="col-lg-12">
			<h1>{{ session.date.strftime('%d %B %Y') }}</h1>
			<hr>
		</div>
	</div>

	<div class="col-lg-3">
	  <form id="change_option" action="{{url_for('pqsbysession')}}" method="POST">
		  <select name="sessions" id="sessions" class="form-control">
		  <option>Par séance...</option>
		  {% for sess in sessions %}
		  {% if sess.date == session.date %}
		  <option selected value="{{ sess.date }}">{{ sess.date.strftime('%d %B %Y') }}</option>
		  {% else %}
		  <option value="{{ sess.date }}">{{ sess.date.strftime('%d %B %Y') }}</option>
		  {% endif %}
		  {% endfor %}
		  </select>
	  </form>
	</div>

	<div class="col-lg-8">
	{% for pq in pqs %}
			<h4>{{ pq.title }}
	      <span>{{ pq.date_asked }}</span>
	      <span class="align-right">
	        <a class="btn btn-info btn-xs" role="button" href="{{url_for('showPQ', id = pq.id )}}">View</a>
	        <a class="btn btn-success btn-xs" role="button" href="{{url_for('editPQ', id = pq.id )}}">Edit</a>
	      </span>
	    </h4>
	    <hr>
			<b>From: </b>{{ pq.asked_by }}
			<br>
			<b>To: </b>{{ pq.asked_to }}
			<br><br>
			<b>PQ: </b>{{ pq.pq }}
			<br><br>
			<b>Answer: </b>
	    {% if pq.answer | length > 500 %}
	        {{ pq.answer[:500] }}... 
	    {% else %}
	        {{ pq.answer }}
	    {% endif %}
		  <hr>
	{% endfor %}
	</div>
{% endblock %}